
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Badeen+Display&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Badeen+Display&family=Baloo+Bhaina+2:wght@400..800&family=VT323&display=swap');


*{
    margin:0;
    padding:0;
}
nav{
    background-color:rgb(255, 166, 0);
    color:white;
    height: 70px;
    font: size 27px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-family: "Audiowide", sans-serif;
} 



nav ul{
    list-style-type: none;
}

.Gamecantainor{
    background-color: yellow;
    Display: flex;
    justify-content: center ;
    margin-top: 80px;

}

.containor{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: "Audiowide", sans-serif;
}

.containor div{
    border: 2px solid black;
    font-size:8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containor div:hover{
    background-color:  rgb(218, 207, 207);
  
    
} 

.gameinfo{
    padding: 0 34px;
    font-family: "Audiowide", sans-serif;
}   